*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
   --branquinho: #f1f1f1;
   --roxoclaro: rgb(197, 179, 255);
   --roxomedio: #4e1a8d;
   --vermelhoescuro: #3f0c87;
   --gradient: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));

}
body{
    height: 100vh;
    background: var(--roxomedio);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 70vh;
    height: 70vh;
    animation: animacao 6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animacao{
    40%{
        transform: scale(1.2);
    }
    30%{
        transform: scale(1);
    }
    /* 50%{
        filter: drop-shadow(0 0 200px #72069c);
    } */
    90%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        /* filter: drop-shadow(0 0 0 #72069c); */
        transform: scale(0.6);
        opacity: 0;
    }
}

@media(width <=1024px)  {
    img{
    width: 40vh;
    height: 40vh;
    }
}