* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIAVEIS CSS*/
:root {
    --branquinho: #f1f1f1;
    --cinza: #e9e9e9;
    --roxoclaro: rgb(197, 179, 255);
    --roxomedio: #4e1a8d;
    --vermelhoescuro: #3f0c87;
    --roxasso: rgb(54, 37, 80);
    --gradient: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));

}

body {
    background-image: var(--gradient), url(../assets/img/fundo.png);
    font-family: Questrial;
    color: #fff;
    background: var(--roxasso);
    /* background: rgb(54, 37, 80); */
    text-align: center;
}

/* #container{
   display:flex;
   flex-direction: column;
   min-height: 100vh;
} */
.produto img {
    width: 100%;
    height: 150%;
    /* max-height: 400px; */
    object-fit: cover;
    margin-top: 30px;
    border-radius: 15px;
    position: center;
    margin-bottom: 15px;
}

.preco {
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
}

.produto h3 {
    margin-top: 10px 0;
    font-size: 24px;
}

.descricao {
    margin-top: 10px;
}

.produto {
    background-color: #230152;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    height: 900px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    /* background: transparent; */
    box-shadow: 5px 5px 15px #230152;
    text-align: center;
    /* centraliza texto e botão */
}

#conteudo {

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: large;
    background: rgb(255, 255, 255);
    margin-top: 35px;
    margin-left: 10px;
    padding: 15px 45px;
    border-radius: 20px;
    cursor: pointer;
    color: #000000;


}

button:hover {
    /* transform: scale(1.01);
   transition: transform 0.5s ease, backhround-color green; */
    /* background-color: rgb(85, 85, 85); */
    /* border: 1px solid var(--cinza); */
    transform: scale(1.02);
    transition: transform 0.3s ease;
    /* border: 1px solid var(--cinza); */
    cursor: pointer;
}

#conteudo {
    grid-template-columns: 1fr;
}

@media (max-width: 1024px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* @media (max-width: 600px) {
main {
grid-template-columns: 1fr; 
} */